body {
    background: #111827;
    color: #9ca3af;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-weight: 900;
}

h1, h3 {
    color: white;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
    color: #d14242;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    color: #ffd073;
}