* {
   /* Typography */
   font-family: Verdana, sans-serif;
   
   /* Color */
   background-color: #121212;
   color: #ffffff;
}

.hero-banner {
   /* Dimensions */
   height: auto;
   max-width: 100%;
}